:root {
  --cor-fundo: rgb(218, 210, 210);
  --cor-texto: #4b4453;
  --cor-titulo: #c34a36;

  --cor-card: #ffffff;
  --cor-botao: #e0e0e0;
  --cor-hover: aqua;

  --textos: "Roboto", sans-serif;
  --titulos: "Inter", sans-serif;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--textos);
}
html {
  scroll-behavior: smooth;
}

/* TRANSIÇÃO SUAVE */
body,
.card,
button,
.menu a {
  transition: all 0.3s ease;
}

/* BODY */
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

/* MODO ESCURO */
body.dark {
  --cor-fundo: #0f172a;
  --cor-texto: #ffffff;
  --cor-titulo: #f87171;

  --cor-card: #1e293b;
  --cor-botao: #334155;
  --cor-hover: #22d3ee;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-top: 18px;
  position: fixed; /* Fixa a barra no topo */
  top: 0;
  width: 100%;
  height: 50px; /* Altura definida é importante */
  transition: top 0.3s; /* Suaviza a transição */
  z-index: 1000;
}
.logo-escura {
  display: none;
}

body.dark .logo-clara {
  display: none;
}

body.dark .logo-escura {
  display: block;
}

.navegation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 90px;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  color: var(--cor-texto);
  text-decoration: none;
  float: left;
  display: block;

  padding: 15px;
}

/* BOTÃO DARK MODE */
.container {
  display: flex;
  background-color: #4b4453;
  width: 40px;
  height: 22px;
  border-radius: 50px;
  align-items: center;
  padding: 1px;
  cursor: pointer;
}

.seletor {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
}

.container.ativo {
  background-color: #c34a36;
}

.container.ativo .seletor {
  transform: translateX(18px);
  background-color: #4b4453;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 50px;
  height: 100vh;
}

.home img {
  width: 500px;
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: subirDescer 3s ease-in-out infinite;
}
.home h1 {
  font-size: 4rem;
}

@keyframes subirDescer {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* TITULOS */
h1 {
  color: var(--cor-titulo);
  font-family: var(--titulos);
}

/* SOBRE */
.cont-sobre {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  gap: 20px;
}

.cont-sobre p {
  font-size: 2rem;
  width: 100%;
}

.cont-sobre1 {
  width: 100%;
  height: 100pxvh;
}

/* FORMAÇÃO */
.formacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-size: 1rem;
  width: 100vw;
  height: 60vh;
}
.formacao p {
  font-size: 2rem;
  margin-bottom: 100px;
}

/* PORTFOLIO */
.titulo-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}

/* CARDS */
.card-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;

  background-color: var(--cor-card);
  color: var(--cor-texto);

  height: 400px;
  border-radius: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* BOTÕES */

/* IMAGENS DOS CARDS */
.card img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0px;
  margin-top: -30px;
}
/*estilização da aba de contatos*/
.contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  justify-content: center;
  margin-top: 80px;
}
.input {
  height: 30px;
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 40px;

  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}
textarea {
  padding: 20px;
  outline: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.home .cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ff7d00;
  background: linear-gradient(
    0deg,
    rgba(255, 125, 0, 1) 0%,
    rgba(255, 95, 109, 1) 100%
  );
  border: 2px solid #ff7d00;
  border-radius: 20em;
}

.home .cssbuttons-io-button svg {
  margin-right: 8px;
}

.home .cssbuttons-io-button:hover {
  border-color: white;
  box-shadow: 0 0.5em 1.5em -0.5em #bf5800;
}

.home .cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #bf5800;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
/* TEXTO DOS INPUTS */
.input,
textarea {
  color: var(--cor-texto);
}

/* PLACEHOLDER NO DARK MODE */
body.dark .input::placeholder,
body.dark textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/* BOTÃO HAMBURGUER */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.bt-card {
  padding: 10px;
  width: 80px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--cor-titulo);
  color: var(--cor-botao);
  font-size: 1rem;
  font-weight: 600;
  transition: all 1s;
}
.bt-card:hover {
  cursor: pointer;
  background-color: var(--cor-texto);
}

/* ================= MOBILE (360px) ================= */
@media (max-width: 400px) {
  body {
    padding-top: 70px;
  }

  header {
    height: 50px;
    padding: 0 10px;
  }

  .navegation {
    justify-content: space-between;
  }

  .logo {
    width: 70px;
  }

  /* NÃO ESCONDE MAIS */
  .container {
    display: none;
  }

  .tema {
    display: none;
    font-size: 0.8rem;
  }

  /* HOME */
  .home {
    flex-direction: column;
    height: auto;
    padding: 30px 15px;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
  }

  .home img {
    width: 180px;
  }

  .home h1 {
    font-size: 1.6rem;
  }

  /* SOBRE */
  .cont-sobre {
    padding: 0 15px;
    width: 80%;
  }

  .cont-sobre p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 60px;
  }

  /* FORMAÇÃO */
  .formacao {
    height: auto;
  }

  .formacao p {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  /* PORTFÓLIO */
  .card-1 {
    padding: 15px;
    gap: 90px;
  }

  .card {
    width: 300px;
    height: 400px;
  }

  /* CONTATO */
  .contatos {
    height: auto;
    padding: 30px 15px;
  }

  .form {
    width: 100%;
    margin-top: 40px;
  }

  .input,
  textarea {
    padding: 15px;
    font-size: 0.9rem;
  }

  /* MENU */
  .hamburger {
    display: block;
  }

  .menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: var(--cor-fundo);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .menu.ativo {
    display: flex;
  }

  .menu a {
    font-size: 1rem;
  }
}
